<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Sprig sample web app</title>
</head>
<body>
<h1>Author List</h1>

<table>
  <tr>
    <th>ID</th>
    <th>firstName</th>
    <th>lastName</th>
  </tr>
  <tr th:each="author : ${authors}">
    <td th:text="${author.id}">123</td>
    <td th:text="${author.firstName}">Rigoberto</td>
    <td th:text="${author.lastName}">De los Santos</td>
  </tr>
</table>
</body>
</html>